#### Day 2 Week 1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('crypto_market_data.csv')
df

,date_,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
0,2025-04-21,597.414185,87518.906250,1579.734497,607.820251,88460.093750,1656.119629,592.676147,85143.835938,1566.147461,592.972412,85171.539062,1587.460938,1430343137,41396190190,15403785611
1,2025-04-22,0.000000,93441.890625,1757.331665,618.990051,93817.382812,1773.639160,595.880981,87084.531250,1542.000366,597.417175,87521.875000,1579.815186,1734142941,55899038456,23747917555
2,2025-04-23,605.815002,93699.109375,1796.104248,619.862488,94535.734375,1829.709961,601.954163,91962.960938,1746.924072,618.826965,93427.585938,1757.196533,1834047719,41719568821,1000000000000
3,2025-04-24,601.715820,NaN,1769.831665,606.744324,94016.195312,1801.691406,594.395081,91696.710938,1724.740723,605.815002,93692.398438,1795.979492,1573943361,31483175315,15207402759
4,2025-04-25,600.181030,NaN,1786.634521,610.179626,95768.390625,1826.696045,597.770325,92898.593750,1740.331909,601.715271,93954.250000,1770.003662,1735398071,40915232364,17459399281
5,2025-04-26,607.704102,NaN,1821.881104,609.136108,95251.359375,1839.363037,600.088196,93927.250000,1781.473877,600.191895,94714.648438,1786.532959,1507509250,17612825123,11926379867
6,2025-04-27,599.921265,94228.250000,1808.597290,608.269043,95172.210938,1852.489990,598.159851,93815.500000,1794.670654,607.694458,94662.343750,1821.758911,1514839424,18701733888,12018830336

In [ ]:
closing_prices = df[['close_btc', 'close_eth', 'close_bnb']]
closing_prices

In [ ]:
first_4_days = df.iloc[1:5]
first_4_days

#### Filter high volume days for btc

In [ ]:
btc_volume_treshold = df['volume_btc'].quantile(0.75)
high_volume_btc = df[df['volume_btc'] > btc_volume_treshold]
high_volume_btc

In [17]:
btc_threshold = df['volume_btc'].quantile(0.9)

# Complex filtering conditionally with columns selection
high_btc_volume = df.loc[(df['volume_btc'] > btc_threshold) & (df['volume_btc'].notna()), ['volume_btc', 'close_btc']]

# In this case simple filtering -> without columns selection
# high_btc_volume = df[df['volume_btc'] > btc_treshold]

high_btc_volume

    volume_btc     close_btc
1  55899038456  93441.890625

#### . Select `volume_btc` and `volume_eth` columns, print the first 5 rows.

In [ ]:
volume_btc_eth = df[["volume_btc", "volume_eth"]]
first_5_rows = volume_btc_eth.head().reset_index(drop=True)
volume_str = f"BTC: {volume_btc_eth['volume_btc']}\nETH: {volume_btc_eth['volume_eth']}"
print(volume_str)

#### Use `loc` to select rows where `close_btc` > its median (handle `NaN` with `notna()`).

In [20]:
median_close = df['close_btc'].median()
filtered_df = df.loc[(df['close_btc'].notna()) & (df['close_btc'] > median_close)]
filtered_df

,date_,close_bnb,close_btc,close_eth,high_bnb,high_btc,high_eth,low_bnb,low_btc,low_eth,open_bnb,open_btc,open_eth,volume_bnb,volume_btc,volume_eth
2,2025-04-23,605.815002,93699.109375,1796.104248,619.862488,94535.734375,1829.709961,601.954163,91962.960938,1746.924072,618.826965,93427.585938,1757.196533,1834047719,41719568821,1000000000000
6,2025-04-27,599.921265,94228.250000,1808.597290,608.269043,95172.210938,1852.489990,598.159851,93815.500000,1794.670654,607.694458,94662.343750,1821.758911,1514839424,18701733888,12018830336

#### Filter days where `close_btc` increased from the previous day (use `diff()`).

In [ ]:
filtered_days = df[(df['close_btc'].diff() > 0) & (df['close_btc'].notna()) ]
filtered_days

#### **Mini-Project**: Create a DataFrame with days where `volume_btc` > 90th percentile, save to `high_volume_btc.csv`.

In [ ]:
volume_btc_treshould = df['volume_btc'].quantile(0.9)
high_btc_volume = df.loc[df['volume_btc'] > volume_btc_treshould]
df.to_csv("high_btc_volume.csv")
print('Saved to csv file')
high_btc_volume